@{
    ViewData["Title"] = "Nastavení";
}
<style>
    :root {
        --secondary-bg-color: @(ViewData["SecondaryBackgroundColor"] ?? ViewData["PrimaryBackgroundColor"]);
    }

    .transparent-bg {
        background-color: transparent !important;
    }

    .dark-input {
        background-color: var(--secondary-bg-color);
        color: white;
        border: 1px solid #444;
        border-radius: 5px;
        padding: 6px;
    }

    .dark-button {
        background-color: var(--secondary-bg-color);
        color: white;
        border: none;
        padding: 8px 16px;
        border-radius: 5px;
        transition: background-color 0.2s ease-in-out;
    }

    .dark-button:hover {
        background-color: #333;
        cursor: pointer;
    }
    .color-pick {
        width: 30px;
        height: 30px;
    }

</style>

<div class="text-center my-5 transparent-bg">
    <h1 class="display-4">Taskami</h1>
    <p>The To-Do list clone of Todoist.</p>
</div>

<div class="row m-5 transparent-bg">
    <h2>Nastavení</h2>
    <div class="col-6">
        <div style="line-height: 2rem">
            <h3 class="my-3 text-left fs-4">Barvy</h3>
            <form asp-action="SetColors" asp-controller="Home" method="post">
                @Html.AntiForgeryToken()
                <div class="row">
                        <label for="primaryColor" class="mb-3 col-9">Primární barva:</label>
                        <input type="color" id="primaryColor" name="primaryColor" class="dark-input p-0 color-pick mb-3 col-3" />
                        <label for="secondaryColor" class="mb-3 col-9">Sekundární barva:</label>
                        <input type="color" id="secondaryColor" name="secondaryColor" class="dark-input p-0 color-pick mb-3 col-3" />
                </div>
                <button type="submit" class="dark-button" style="line-height: 1.2rem">Uložit</button>
            </form>
        </div>

        <div style="line-height: 1.2rem; flex-wrap: wrap">
            <h3 class="my-3 fs-4 text-left">Pomodoro</h3>
            <form asp-action="SetPomodoro" asp-controller="Home" method="post" class="text-left">
                @Html.AntiForgeryToken()
                <div class="row">
                    <label for="pomodoroDuration" class="mb-3 col-8" style="margin-top: 10px">Pomodoro<span class="text-muted">*</span>:</label>
                    <input type="number" id="pomodoroDuration" name="pomodoroDuration" class="dark-input py-1 mb-3 col-3" style="width: 62px; height: 40px"  />
                </div>
                <div class="row">
                    <label for="pomodoroBreakDuration" class="mb-3 col-8" style="margin-top: 10px">Přestávky<span class="text-muted">*</span>:</label>
                    <input type="number" id="pomodoroBreakDuration" name="pomodoroDuration" class="dark-input py-1 mb-3 col-3" style="width: 62px; height: 40px" />
                </div>
                <div class="row">
                    <label for="pomodoroLongBreakDuration" class="mb-3 col-8" style="margin-top: 10px">Dlouhé přestávky<span class="text-muted">*</span>:</label>
                    <input type="number" id="pomodoroLongBreakDuration" name="pomodoroLongBreakDuration" class="dark-input py-1 mb-2 col-3" style="width: 62px; height: 40px" />
                </div>
                <button type="submit" class="dark-button mb-3 offset-8">Uložit</button>
                <span class="text-muted" style="font-size: 80%">*Délky časů jsou uvedeny v minutách</span>
            </form>
        </div>
    </div>

    <div class="col-6">
        <div style="line-height: 1.2rem">
            <h3 class="my-3 text-left fs-4">Backend</h3>
            <form asp-action="SetBackend" asp-controller="Home" method="post">
                @Html.AntiForgeryToken()
                <div class="mb-3 row">
                    <label for="backendType" class="col-8" style="margin-top: 5px">Typ backendu:</label>
                    <select id="backendType" name="backendType" style="width: 85px; height: 40px; position: relative; bottom: 5px" class="dark-input col-4">
                        <option value="Todoist">Todoist</option>
                        <option value="Taskami">Taskami</option>
                    </select>
                </div>
                <button type="submit" class="dark-button">Uložit</button>
            </form>
        </div>
        <div>
            <h3 class="my-3 fs-4 text-left">API klíče</h3>
            <form asp-action="SetTaskamiAPIKey" asp-controller="Home" method="post">
                @Html.AntiForgeryToken()

                <div class="w-100 text-left mb-1">
                    <label for="apiKey" class="w-100">Todoist:</label>
                </div>

                <div class="btn-group text-center w-100">
                    <input type="text" id="apiKey" name="apiKey" class="dark-input" />
                    <button type="submit" class="dark-button">Uložit</button>
                </div>
            </form>
            <form asp-action="SetAPIKey" asp-controller="Home" method="post">
                @Html.AntiForgeryToken()

                <div class="w-100 text-left mb-1 mt-2">
                    <label for="apiKey" class="w-100">Todoist:</label>
                </div>

                <div class="btn-group text-center w-100">
                    <input type="text" id="apiKey" name="apiKey" value="@Model" class="dark-input" />
                    <button type="submit" class="dark-button">Uložit</button>
                </div>
            </form>

        </div>
    </div>
</div>
